version: "2.0"
services:

  mssql-server-2019:
    build: mssql-2019/.
    image: mssql-2019
    container_name: mssql-server-2019
    restart: always
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=P@ssword123
      - INIT_MEM=4096m
      - MAX_MEM=8192m
    volumes:
      - mssql:/var/opt/mssql

  apache-httpd:
    build: apache-httpd-2.4/.
    image: httpd
    container_name: apache-httpd
    restart: always
    ports:
     - "80:80"
     - "443:443"
    environment:
     - INIT_MEM=512m
     - MAX_MEM=1024m
    volumes:
     - httpd_conf:/usr/local/apache2/conf

volumes:
  mssql:
    external: true
  httpd_conf:
    external: true
  