version: "2.0"
services:

#  centos-dotnet-6:
#    build: docker-centos-7-dotnet-6/.
#    image: dockercentos-dotnet-6
#    container_name: centos-dotnet-6
  
#  centos-dotnet-7:
#    build: docker-centos-7-dotnet-7/.
#    image: dockercentos-dotnet-7
#    container_name: centos-dotnet-7

  mssql-server-2019:
    build: mssql-2019/.
    image: mssql-2019
    container_name: mssql-server-2019
    restart: always
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=P@ssword123
      - INIT_MEM=6144m
      - MAX_MEM=8192m
    volumes:
      - mssql:/var/opt/mssql

#  apache-httpd:
#    build: apache-httpd-2.4/.
#    image: httpd
#    container_name: apache-httpd
#    restart: always
#    ports:
#     - "80:80"
#     - "443:443"
#    environment:
#     - INIT_MEM=512m
#     - MAX_MEM=1024m
#    volumes:
#     - httpd_conf:/usr/local/apache2/conf

  nginx:
    build: nginx/.
    image: nginx
    container_name: nginx
    restart: always
    ports:
     - "80:80"
     - "443:443"
    environment:
     - INIT_MEM=512m
     - MAX_MEM=1024m
    volumes:
     - nginx_conf:/etc/nginx

  jfrog:
    build: artifactory-jfrog-latest/.
    image: jfrog
    container_name: artifactory-jfrog
    restart: always
    ports:
     - "26854:8081"
     - "26855:8082"
    environment:
     - INIT_MEM=4096m
     - MAX_MEM=8192m
    volumes:
     - jfrog_data:/artifactory
  
  nexus:
    build: sonatype-nexus3-latest/.
    image: nexus3-sonatype
    container_name: nexus3
    restart: always
    ports:
      - "8081:8081"
    volumes:
      - nexus-data:/nexus-data
    

volumes:
  mssql:
    external: true
  nexus-data:
    external: true
  jfrog_data:
    external: true
  nginx_conf:
    external: true
  