version: "2.0"
services:

#  centos-dotnet-6:
#    build: docker-centos-7-dotnet-6/.
#    image: dockercentos-dotnet-6
#    container_name: centos-dotnet-6
  
#  centos-dotnet-7:
#    build: docker-centos-7-dotnet-7/.
#    image: dockercentos-dotnet-7
#    container_name: centos-dotnet-7

  jfrog:
    build: artifactory-jfrog-latest/.
    image: jfrog
    container_name: artifactory-jfrog
    restart: always
    logging:
      driver: json-file
      options:
        max-size: "50m"
        max-file: "10"
    ports:
     - "8081:8081"
    environment:
     - INIT_MEM=10240m
     - MAX_MEM=15360m

#  mssql-server-2019:
#    build: mssql-2019/.
#    image: mssql-2019
#    container_name: mssql-server-2019
#    restart: always
#    ports:
#      - "1433:1433"
#    environment:
#      - ACCEPT_EULA=Y
#      - MSSQL_SA_PASSWORD=P@ssword123
#      - INIT_MEM=6144m
#      - MAX_MEM=8192m
#    volumes:
#      - mssql:/var/opt/mssql

  nginx:
    build: nginx/.
    image: nginx
    container_name: nginx
    restart: always
    ports:
     - "80:80"
     - "443:443"
    environment:
     - INIT_MEM=512m
     - MAX_MEM=1024m
    volumes:
     - nginx_conf:/etc/nginx

volumes:
  nginx_conf:
    external: true
