version: "2.0"
services:
  mssql-server-2019:
    build: mssql-2019/.
    image: mssql-2019
    container_name: mssql-server-2019
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=P@ssowrd123
      - INIT_MEM=4096m
      - MAX_MEM=8192m
    volumes:
      - mssql:/var/opt/mssql
volumes:
  mssql:
    external: true